Hello!

Thank you for registering on our website. To gain access to the
system, you must confirm your registration. Simply click on the link
below:

http://isnomore.net/confirm/{registration_key}

and you'll be ready to go.

See you there!

Your friendly neighbourhood,

The Website People.
